
if SHIELD_YKEY_25_WIRELESS_LEFT

config ZMK_KEYBOARD_NAME
    default "ykey_25_wireless"

endif

if SHIELD_YKEY_25_WIRELESS_LEFT || SHIELD_YKEY_25_WIRELESS_RIGHT

config ZMK_SPLIT
    default y

endif